* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Light Mode */
body.light {
  background-color: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
}

/* Dark Mode */
body.dark {
  background-color: #3e3d3d;
  color: #ffffff;
}
